ul,
ol,
li {
  list-style: none;
}

.member-wrap {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.member-cont {
  background-image: url('../../../asset/image/back_pic/ark-5.jpg');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  flex: 1;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 20px;
}

.member-right {
  opacity: 0.97;
  background-color: #acddf1;
}

.member-inp {
  width: 90%;
}

.member-slide {
  height: 30px;
  line-height: 30px;
  margin-bottom: 10px;
}

.yz-group {
  position: relative;
  width: 90%;
}

.yz-inp,
.yz-btn {
  background: none;
  border: none;
  border: 1px solid #ccc;
}

.yz-btn {
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
  width: 100px;
}

.yz-inp {
  border-right: 0px;
  text-indent: 1em;
  width: 100%;
}

.member-captcha {
  width: 90%;
  display: inline-block;
}

.member-wait {
  text-align: left;
  color: #666;
  margin: 0;
}
