<section>
  <div class="margin-b-20">
    <ol class="breadcrumb font-16">
      <li class="breadcrumb-item"><a href="javascript: void(0)" routerLink="../"  routerLinkActive="active">用户管理</a></li>
      <li class="breadcrumb-item active">{{showTitle}}</li>
    </ol>
  </div>

  <mat-card>
    <mat-card-content class="container">
      <div class="row flex-column">
        <form>
          <div class="form-group">
            <label for="">用户名</label>
            <input type="text" class="form-control" name="username" [(ngModel)]="user.username">
          </div>

          <div class="form-group">
            <label for="">用户uid</label>
            <input type="text" class="form-control" name="uid" [(ngModel)]="user.uid">
          </div>

          <div class="form-group">
            <label for="">手机</label>
            <input type="text" class="form-control" name="phone" [(ngModel)]="user.phone">
          </div>

          <div class="form-group">
            <label for="">邮箱</label>
            <input type="email" class="form-control" name="email" [(ngModel)]="user.email">
          </div>

          <div class="form-group">
            <label for="">用户状态</label>
            <select name="state" id="state" class="form-control" [(ngModel)]="user.state">
              <option  value="1">启用</option>
              <option  value="0">禁用</option>
            </select> 
          </div>
          <div class="wrapper" >
            <div class="box-header">
              <button class="btn btn-primary box-btn" (click)="openBindRoleDialog()">绑定角色</button>
            </div>
            <div class="box-select">
              <span>已绑定角色：</span>
              <span *ngFor="let role of user.roles" class="results">
                {{role?.name}}
              </span>
            </div>
          </div>
          <div class="form-group text-center">
            <button class="btn btn-lg btn-primary" [disabled]="isSubmiting"  (click)="onSubmit()">
              <i class="fa fa-save" aria-hidden="true"></i>
              保存
            </button>
          </div>
        </form>
      </div>
    </mat-card-content>
  </mat-card>
</section>

