<article class="add-unit-wrap">
  <h4 class="add-unit-title">{{childTitle}}</h4>
  <!--把所有要修改的表单信息融合到一个html页面，通过路由值判断显示隐藏-->
  <section>
    <form class="pl20 pr20">
      <div *ngIf="pathname === '/user/interface/add' || pathname === '/user/interface/updata'" class="form-group">
        <label for="add-user" *ngIf="pathname === '/user/interface/add'">新增接口名称</label>
        <label for="add-user" *ngIf="pathname === '/user/interface/updata'">修改接口名称</label>
        <input type="text" class="form-control" [(ngModel)]="ListDatas.rolename" name="rolename" id="add-user" placeholder="请输入用户名">
      </div>
      <div *ngIf="pathname === '/user/interface/add' || pathname === '/user/interface/updata'" class="form-group">
        <label for="add-user" *ngIf="pathname === '/user/interface/add'">新增接口分类</label>
        <label for="add-user" *ngIf="pathname === '/user/interface/updata'">修改接口分类</label>
        <select (change)="FnChangeModel($event, '其他apiCategory')" class="full-wid form-control w80p">
          <option selected="{{ListDatas.apiCategory == '企业'? 'selected' : ''}}" value="企业">企业</option>
          <option selected="{{ListDatas.apiCategory == '专利'? 'selected' : ''}}" value="专利">专利</option>
          <option selected="{{ListDatas.apiCategory == '工商'? 'selected' : ''}}" value="工商">工商</option>
          <option selected="{{ListDatas.apiCategory == '其他'? 'selected' : ''}}" value="其他">其他</option>
        </select>
      </div>
      <div *ngIf="pathname === '/user/interface/add' || pathname === '/user/interface/updata'" class="form-group">
        <label for="add-user" *ngIf="pathname === '/user/interface/add'">新增接口显示图</label>
        <label for="add-user" *ngIf="pathname === '/user/interface/updata'">修改接口显示图</label>
        <div>
          默认图片
        </div>
      </div>
      <div *ngIf="pathname === '/user/rolecontrol/add' || pathname === '/user/rolecontrol/updata'" class="form-group">
        <label for="add-user" *ngIf="pathname === '/user/rolecontrol/add'">新增角色名</label>
        <label for="add-user" *ngIf="pathname === '/user/rolecontrol/updata'">修改角色名</label>
        <input type="text" class="form-control" [(ngModel)]="ListDatas.rolename" name="rolename" id="add-user" placeholder="请输入用户名">
      </div>
      <div *ngIf="pathname === '/user/rolecontrol/add' || pathname === '/user/rolecontrol/updata'" class="form-group">
        <label for="add-email" *ngIf="pathname === '/user/rolecontrol/add'">新增角色描述</label>
        <label for="add-email" *ngIf="pathname === '/user/rolecontrol/updata'">修改角色描述</label>
        <textarea type="text" class="form-control" [(ngModel)]="ListDatas.description" name="description" id="add-description" placeholder="请输入权限描述">
        </textarea>
      </div>
      <div *ngIf="pathname === '/user/usercontrol/add' || pathname === '/user/usercontrol/updata'" class="form-group">
        <label for="add-user" *ngIf="pathname === '/user/usercontrol/add'">新增用户名</label>
        <label for="add-user" *ngIf="pathname === '/user/usercontrol/updata'">编辑用户名</label>
        <input type="text" class="form-control" [(ngModel)]="ListDatas.userName" name="userName" id="add-user" placeholder="请输入用户名">
      </div>
      <div *ngIf="pathname === '/user/usercontrol/add' || pathname === '/user/usercontrol/updata'" class="form-group">
        <label for="add-email" *ngIf="pathname === '/user/usercontrol/add'">新增邮箱</label>
        <label for="add-email" *ngIf="pathname === '/user/usercontrol/updata'">编辑邮箱</label>
        <input type="email" class="form-control" [(ngModel)]="ListDatas.Email" name="Email" id="add-email" placeholder="请输入邮箱名">
      </div>
      <div *ngIf="pathname === '/user/usercontrol/add' || pathname === '/user/usercontrol/updata'" class="form-group">
        <label for="add-phone" *ngIf="pathname === '/user/usercontrol/add'">新增电话</label>
        <label for="add-phone" *ngIf="pathname === '/user/usercontrol/updata'">编辑电话</label>
        <input type="text" class="form-control" [(ngModel)]="ListDatas.phone" name="phone" id="add-phone" placeholder="请输入电话">
      </div>
      <div *ngIf="pathname === '/user/usercontrol/add' || pathname === '/user/usercontrol/updata'" class="form-group">
        <label for="add-phone" *ngIf="pathname === '/user/usercontrol/add'">新增角色</label>
        <label for="add-phone" *ngIf="pathname === '/user/usercontrol/updata'">编辑角色</label>
        <div class="form-control bd0">
          <ul class="row m0 mb20 pr10">
            <li class="col-md-3 pr0">所有未选择角色(点击选中)：</li>
            <li *ngFor="let item of RuleObj.RuleArr; let ind = index" class="flex1 max-w12 text-center">
              <a href="javascript:;" (click)="FnSelRole(item.id,ind,'add')" style="text-decoration: none">{{item.name}}</a>
            </li>
          </ul>
          <ul class="row m0 pr10">
            <li class="col-md-3 pr0">所有已选择角色(点击取消)：</li>
            <li *ngFor="let item of RuleObj.RuleAddArr; let ind = index" class="flex1 max-w12 text-center">
              <a href="javascript:;" (click)="FnSelRole(item?.id,ind,'del')" style="text-decoration: none">{{item?.name}}</a>
            </li>
          </ul>
        </div>
      </div>
      <div *ngIf="pathname === '/user/authoritycontrol/add' || pathname === '/user/authoritycontrol/updata'" class="form-group">
        <label for="add-user" *ngIf="pathname === '/user/authoritycontrol/add'">新增显示名称</label>
        <label for="add-user" *ngIf="pathname === '/user/authoritycontrol/updata'">编辑显示名称</label>
        <input type="text" class="form-control" [(ngModel)]="ListDatas.displayName" name="displayName" id="add-displayName" placeholder="请输入显示名称">
      </div>
      <div *ngIf="pathname === '/user/authoritycontrol/add' || pathname === '/user/authoritycontrol/updata'" class="form-group">
        <label for="add-user" *ngIf="pathname === '/user/authoritycontrol/add'">新增权限名称</label>
        <label for="add-user" *ngIf="pathname === '/user/authoritycontrol/updata'">编辑权限名称</label>
        <input type="text" class="form-control" [(ngModel)]="ListDatas.permissionName" name="permissionName" id="add-permissionName" placeholder="请输入权限名称">
      </div>
      <div *ngIf="pathname === '/user/authoritycontrol/add' || pathname === '/user/authoritycontrol/updata'" class="form-group">
        <label for="add-user" *ngIf="pathname === '/user/authoritycontrol/add'">新增接口路径</label>
        <label for="add-user" *ngIf="pathname === '/user/authoritycontrol/updata'">编辑接口路径</label>
        <input type="text" class="form-control" [(ngModel)]="ListDatas.ValidPath" name="path" id="add-path" placeholder="请输入接口路径">
      </div>
      <div *ngIf="pathname === '/user/authoritycontrol/add' || pathname === '/user/authoritycontrol/updata'" class="form-group">
        <label for="add-user" *ngIf="pathname === '/user/authoritycontrol/add'">新增过滤器</label>
        <label for="add-user" *ngIf="pathname === '/user/authoritycontrol/updata'">编辑过滤器</label>
        <select class="form-control" name="filters" id="add-filters" (change)="FnChangeModel($event, '权限管理filters')">
          <option value="1" *ngFor="let item of FilterDatas">{{item}}</option>
        </select>
      </div>
      <div *ngIf="pathname === '/user/authoritycontrol/add' || pathname === '/user/authoritycontrol/updata'" class="form-group">
        <label for="add-user" *ngIf="pathname === '/user/authoritycontrol/add'">新增权限描述</label>
        <label for="add-user" *ngIf="pathname === '/user/authoritycontrol/updata'">编辑权限描述</label>
        <textarea type="text" class="form-control" [(ngModel)]="ListDatas.description" name="description" id="add-description" placeholder="请输入权限描述">
        </textarea>
      </div>
      <div *ngIf="pathname === '/user/authoritycontrol/add' || pathname === '/user/authoritycontrol/updata'" class="form-group">
        <label for="add-user" *ngIf="pathname === '/user/authoritycontrol/add'">新增作用域</label>
        <label for="add-user" *ngIf="pathname === '/user/authoritycontrol/updata'">编辑作用域</label>
        <select class="form-control" name="permissionScope" id="add-permissionScope" (change)="FnChangeModel($event, '权限管理Scope')">
          <option value="1" *ngFor="let item of ScopeDatas">{{item}}</option>
        </select>
      </div>
      <div *ngIf="pathname === '/user/scene/add'" class="form-group">
        <label for="add-phone">场景名</label>
        <input type="text" class="form-control" [(ngModel)]="ListDatas.applicationName" name="phone" id="add-sceneName" placeholder="请输入场景名">
      </div>
      <div *ngIf="pathname === '/user/scene/add'" class="form-group">
        <label for="add-phone">场景描述</label>
        <input type="text" class="form-control" [(ngModel)]="ListDatas.description" name="phone" id="add-sceneMiao" placeholder="请输入场景描述">
      </div>
      <div *ngIf="pathname === '/user/scene/add'" class="form-group">
        <label for="add-phone">白名单最多数量</label>
        <input type="number" class="form-control" [(ngModel)]="ListDatas.wlMaxCount" name="phone" id="add-whitelist-maxnum" placeholder="请输入最大数量">
      </div>
      <div *ngIf="pathname === '/user/scene/add'" class="form-group">
        <label for="add-phone">白名单(多个IP“ , ”隔开)</label>
        <textarea type="text" class="form-control" [(ngModel)]="ListDatas.wlContent" name="phone" id="add-whitelist-content" placeholder="请输入白名单"></textarea>
      </div>
      <div *ngIf="pathname === '/user/scene/add'" class="form-group">
        <label for="add-phone">
          user Token
          <button class="btn" *ngIf="accountRole === 1" (click)="FnTokenModel()">生成token</button>
        </label>
        <p class="form-control h24px">{{Token}}</p>
      </div>
      <div *ngIf="Actiokey">
        <div *ngIf="pathname === '/user/usercontrol/updata'" class="form-group">
          <label for="add-phone">有效状态</label>
          <select (change)="FnChangeModel($event, '用户管理state')" class="full-wid form-control w80p">
            <option selected="{{state? 'selected' : ''}}" value="1">有效</option>
            <option selected="{{state? '' : 'selected'}}" value="0">无效</option>
          </select>
        </div>
        <div *ngIf="pathname !== '/user/usercontrol/add' && pathname !== '/user/usercontrol/updata'">
          <label for="add-phone">有效状态</label>
          <select (change)="FnChangeModel($event, '其他active')" class="full-wid form-control w80p">
            <option selected="{{ListDatas.active == 'Y'? 'selected' : ''}}" value="Y">有效</option>
            <option selected="{{ListDatas.active == 'N'? 'selected' : ''}}" value="N">无效</option>
          </select>
        </div>
      </div>
      <div class="add-user-list row flex-space-center">
        <button type="btn" data-toggle="modal" data-target="#mySaveModal" class="btn btn-warning text-white">保存</button>
      </div>
    </form>
  </section>
</article>
<div class="modal fade" id="mySaveModal" tabindex="-1" role="dialog" aria-labelledby="mySaveModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
            &times;
          </button>
        <h4 class="modal-title" id="mySaveModalLabel">
          保存内容
        </h4>
      </div>
      <div class="modal-body">
        您确定要怎么做吗？
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
        <button (click)="FnSureSave()" data-dismiss="modal" type="button" class="btn btn-primary">
            确定
          </button>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal -->
</div>