.add-unit-wrap {
  box-sizing: border-box;

  padding-left: 10px;
  padding-top: 10px;
}

.add-unit-title {
  border-bottom: 1px solid #eee;
  height: 42px;
  margin-bottom: 10px;
  width: 100%;
}

.add-user-list button {
  font-size: 14px;
  height: 40px;
  margin-top: 20px;
  width: 16%;
}

.h24px {
  height: 24px;
}
