<article class="scene-content-wrap container">
  <section *ngIf="datasTop[0].childTitle === '用户场景(IP白名单)管理' " class="header">
    <div class="pb10 mb10 bdb1">
      用户名：<span>{{datasTop[0].username}}</span> uid: <span>{{datasTop[0].uid}}</span>
    </div>
  </section>
  <section class="main">
    <form role="form" class="form-inline main-header mb10 flex-space-between">
      <div class="form-group {{Scenedata? '': 'bd0'}} ">
        <label for="changjing" class=" mr10">当前场景:</label>
        <div *ngIf="Scenedata">
          <select class="form-control" (change)="FnChangeModel($event, null, 'select')" id="changjing">
            <option *ngFor="let item of Scenedata; let ind = index" value="0">场景{{ind + 1}}</option>
          </select>
        </div>
        <div *ngIf="!Scenedata">
          场景为无，请先创建场景
        </div>
      </div>
      <div>
        <a type="btn" class="btn bg-aqua text-white" (click)="FnAddModel()">新增场景</a>
        <button *ngIf="Scenedata" data-toggle="modal" data-target="#myDelModal" class="btn bg-red text-white">删除场景</button>
      </div>
    </form>
    <div class="main-content">
      <form class="wf row ml0 mr0">
        <ul class="col-md-6 main-list bdr1">
          <li class="row m0 mb20">
            <h4>基本信息</h4>
          </li>
          <li class="row m0 mb10">
            <h5 class="mb10 mr20 f14">场景状态:</h5>
            <div *ngIf="Scenedata">
              <input type="radio" class="mr5" checked="{{Scenedata[senceNum]?.active === 'Y'? 'checked' : '' }}" name="scene" value="Y" (click)="FnChangeModel(null, 'Y', 'readio')">有效
              <input type="radio" class="mr5" checked="{{Scenedata[senceNum]?.active === 'N'? 'checked' : '' }}" name="scene" value="N" (click)="FnChangeModel(null, 'N', 'readio')">无效
            </div>
            <div *ngIf="!Scenedata">
              无效，场景为无，请先创建场景
            </div>
          </li>
          <li class="row m0 mb10">
            <div class="form-group wf">
              <label for="whiteList f14">场景名</label>
              <input name="applicationName" class="form-control" id="scene" [(ngModel)]="ListDatas.applicationName">
            </div>
          </li>
          <li class="row m0 mb10">
            <h5 class="mb10 mr20 f14">场景ID:</h5>
            <p>{{Scenedata? Scenedata[senceNum]?.appMd5 : ''}}</p>
          </li>
          <li class="row m0 mb10">
            <div class="form-group wf">
              <label for="whiteList f14">场景描述</label>
              <textarea name="description" class="form-control scene-describe" id="description" [(ngModel)]="ListDatas.description">
              </textarea>
            </div>
          </li>
        </ul>
        <ul class="col-md-6 main-list">
          <li class="row m0 mb20 flex-space-between">
            <h4>白名单限制</h4>
          </li>
          <li class="m0 mb10">
            <h5 class="mb10 mr20">user Token: <button class="btn bg-aqua text-white ml15" *ngIf="accountRole === 1" (click)="FnTokenModel()">生成token</button></h5>
            <p>{{Scenedata? Scenedata[this.senceNum].userToken : Token }}</p>
          </li>
          <li class="row m0  mb10">
            <div class="form-group wf">
              <label for="whiteList f14">最大白名单限制:</label>
              <input name="wlMaxCount" class="form-control" id="wlMaxCount" [(ngModel)]="ListDatas.wlMaxCount">
            </div>
          </li>
          <li class="row m0 mb10">
            <div class="form-group wf">
              <label for="whiteList f14">白名单(多个IP“ , ”隔开)</label>
              <textarea class="form-control scene-describe" id="whiteList" name="wlContent" [(ngModel)]="ListDatas.wlContent">
              </textarea>
            </div>
          </li>
        </ul>
      </form>
    </div>
    <div *ngIf="Scenedata" class="row flex-space-center save-box">
      <button *ngIf="accountRole !==2" data-toggle="modal" data-target="#mySaveModal" class="btn btn-warning text-white">保存</button>
    </div>
  </section>
</article>

<div class="modal fade" id="myDelModal" tabindex="-1" role="dialog" aria-labelledby="myDelModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
            &times;
          </button>
        <h4 class="modal-title" id="myDelModalLabel">
          删除场景
        </h4>
      </div>
      <div class="modal-body">
        确定删除场景吗？
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
        <button (click)="FnDelModel()" data-dismiss="modal" type="button" class="btn btn-primary">
            确定
          </button>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal -->
</div>


<div class="modal fade" id="mySaveModal" tabindex="-1" role="dialog" aria-labelledby="mySaveModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
            &times;
          </button>
          <h4 class="modal-title" id="mySaveModalLabel">
            修改当前场景
          </h4>
        </div>
        <div class="modal-body">
          您确定要怎么做吗？
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
          <button (click)="FnSaveBtn()" data-dismiss="modal" type="button" class="btn btn-primary">
            确定
          </button>
        </div>
      </div>
      <!-- /.modal-content -->
    </div>
    <!-- /.modal -->
  </div>