.interface-detail-wrap {
  position: relative;
  textarea{
    border: 1px solid #eee;
    padding: 0 10px;
    line-height: 2em;
  }
}

.interface-detail-nav a {
  display: block;
}

.interface-detail-list li,
.interface-detail-nav a {
  margin-bottom: 10px;
}

.slide-list {
  border: 1px solid #eee;
  border-left: none;
  border-bottom: none;
  li {
    h5{
      font-size: 14px;
      height: 32px;
      line-height: 32px;
      background: #a3a3a3;
    }
    h5,
    div {
      border-left: 1px solid #eee;
      text-align: center;
    }
    border-bottom: 1px solid #eee;
    margin: 0;
    min-height: 24px;
  }
}

.interface-save-box {
  font-size: 14px;
  height: 40px;
  margin-top: 20px;
  width: 16%;
}

.bdl1{
  border-left: 1px solid #eee;
}