<section>
  <div class="margin-b-20">
    <ol class="breadcrumb font-16">
      <li class="breadcrumb-item"><a href="javascript: void(0)">账号管理</a></li>
      <li class="breadcrumb-item active">权限管理</li>
    </ol>
  </div>

  <mat-card>
    <mat-card-header class="margin-b-10">
      <mat-card-title class="full-height flex-v-center" style="display: flex; margin-bottom: 0;">
        <span class="font-16 margin-r-20">权限数量 <strong class="text-danger">{{totalRecords}}</strong></span>
      </mat-card-title>
      <div class="flex flex-v-center mr-auto">
        <a class="btn btn-lg btn-primary" [routerLink]="['edit']">
          <i class="fa fa-plus" aria-hidden="true"></i>
          新增权限
        </a>
      </div>
      <div class="flex flex-v-center ml-auto">
        <select class="form-control margin-r-20" [(ngModel)]="queryParam.active" #active (change)="onChangeActive(active.value)">
          <option value="null">有效标识</option>
          <option value="Y">启用</option>
          <option value="N">禁用</option>
        </select>
        <select class="form-control margin-r-4" #stype [(ngModel)]="queryParam.stype" (change)="onChangeSearchType(stype.value)">
          <option value="name">搜索名称</option>
          <option value="path">搜索路径</option>
        </select>
      </div>
      <div class="flex-inline">
        <mat-form-field>
          <input type="text" [(ngModel)]="key" matInput #keyword (keyup.enter)="onSearch(keyword.value)" placeholder="{{queryParam.stype === 'path' ? '请输入路径' : '请输入名称'}}">
        </mat-form-field>
        <a mat-mini-fab color="primary" (click)="onSearch(keyword.value)">
          <i class="fa fa-search" aria-hidden="true"></i>
        </a>
      </div>
    </mat-card-header>

    <mat-card-content>
      <table class="table ark-admin-table">
        <tbody>
          <tr>
						<th class="ark-second-col">ID</th>
            <th class="ark-second-col">权限名称</th>
						<th>显示名称</th>
            <th>路径</th>
            <th>过滤器</th>
            <th>作用域</th>
            <th>创建时间</th>
            <th>有效标识</th>
            <th>操作</th>
          </tr>

          <tr *ngFor="let auth of auths" [@flyInOutAnimation]>
            <td>{{auth.id}}</td>
            <td>{{auth.permissionName}}</td>
            <td>{{auth.displayName}}</td>
            <td>{{auth.path}}</td>
            <td>{{auth.filters}}</td>
            <td>{{auth.permissionScope}}</td>
            <td>{{auth.entryDatetime | date: 'y-MM-dd'}}</td>
            <td>{{auth.active === 'Y' ? '启用' : '禁用'}}</td>
            <td>
              <a class="btn btn-warning btn-sm" [routerLink]="['/manager/account/auth/edit']" [queryParams]="{id: auth.id}" matTooltip="编辑" matTooltipPosition="above">
                <i class="fa fa-pencil-square" aria-hidden="true"></i>
              </a>
              <button type="button" class="btn btn-danger" (click)="onDelete(auth.id)" matTooltip="删除" matTooltipPosition="above">
                <i class="fa fa-trash" aria-hidden="true"></i>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </mat-card-content>

    <mat-card-footer class="padding-b-20">
      <ark-paginator rows="10" currentPage="{{currentPage}}" totalRecords="{{totalRecords}}" (onPageChange)="paginate($event)"></ark-paginator>
    </mat-card-footer>
  </mat-card>
</section>