// 定义整个Application styles
app-root {
  padding-top: 64px;
}

@media (min-width: 1230px) {
  .container {
    max-width: 1230px;
  }
}

.ark-admin-table {
  th,
  td {
    font-size: 1.4rem;
    vertical-align: middle;
  }
}
