<section>
  <div class="margin-b-20">
    <ol class="breadcrumb font-16">
      <li class="breadcrumb-item"><a href="javascript: void(0)">用户管理</a></li>
    </ol>
  </div>

  <mat-card>
    <mat-card-header class="margin-b-10">
      <mat-card-title class="full-height flex-v-center" style="display: flex; margin-bottom: 0;">
        <span class="font-16 margin-r-20">用户数量 <strong class="text-danger">{{totalRecords}}</strong></span>
      </mat-card-title>
      <div class="flex flex-v-center mr-auto">
        <a class="btn btn-lg btn-primary" [routerLink]="['edit']">
          <i class="fa fa-plus" aria-hidden="true"></i>
          新增用户
        </a>
      </div>
      <div class="flex flex-v-center ml-auto margin-r-20">
        <select class="form-control" #state [(ngModel)]="queryParam.state" (change)="onChangeState(state.value)">
          <option value="null">用户状态</option>
          <option value="1">启用</option>
          <option value="0">禁用</option>
        </select>
      </div>
      <div class="flex-inline">
        <mat-form-field>
          <input type="text" matInput #username [(ngModel)]="queryParam.username" (keyup.enter)="onSearch(username.value)" placeholder="请输入用户名">
        </mat-form-field>
        <a mat-mini-fab color="primary" (click)="onSearch(username.value)">
          <i class="fa fa-search" aria-hidden="true"></i>
        </a>
      </div>
    </mat-card-header>

    <mat-card-content>
      <table class="table ark-admin-table">
        <tbody>
          <tr>
						<th class="ark-second-col">ID</th>
            <th class="ark-second-col">用户名</th>
						<th>UID</th>
						<th>Email</th>
            <th>
              注册时间
              <a href="javascript: void(0)" (click)="onChangeSort()">
                <i class="fa text-primary" [ngClass]="{'fa-sort-amount-desc': queryParam.createTimeSort === 0, 'fa-sort-amount-asc': queryParam.createTimeSort === 1}"></i>
              </a>
            </th>
            <th>有效标识</th>
            <th>操作</th>
          </tr>

          <tr *ngFor="let user of users" [@flyInOutAnimation]>
            <td>{{user.id}}</td>
            <td>{{user.username}}</td>
            <td>{{user.uid}}</td>
            <td>{{user.email}}</td>
            <td>{{user.createTime | date: 'y-MM-dd'}}</td>
            <td>{{user.state === 1 ? '启用' : '禁用'}}</td>
            <td>
              <!-- <a class="btn btn-warning btn-sm" matTooltip="分配角色" matTooltipPosition="above">
                <i class="fa fa-universal-access" aria-hidden="true"></i>
              </a> -->
              <a class="btn btn-warning btn-sm" [routerLink]="['/manager/account/user/edit']" [queryParams]="{id: user.id}" matTooltip="编辑" matTooltipPosition="above">
                <i class="fa fa-pencil-square" aria-hidden="true"></i>
              </a>
              <button type="button" class="btn btn-danger" (click)="onUserDelete(user.id)" matTooltip="删除" matTooltipPosition="above">
                <i class="fa fa-trash" aria-hidden="true"></i>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </mat-card-content>

    <mat-card-footer class="padding-b-20">
      <ark-paginator rows="10" currentPage="{{currentPage}}" totalRecords="{{totalRecords}}" (onPageChange)="paginate($event)"></ark-paginator>
    </mat-card-footer>
  </mat-card>
</section>
