<section>
  <div class="margin-b-20">
    <ol class="breadcrumb font-16">
      <li class="breadcrumb-item"><a href="javascript: void(0)" routerLink="/manager/account/role"  routerLinkActive="active">角色管理</a></li>
      <li class="breadcrumb-item active">绑定权限</li>
    </ol>
  </div>
  <div class="flex-inline row">
    <mat-card>
      <mat-card-header class="margin-b-10 margin-r-30">
        <mat-card-title class="full-height flex-v-center" style="display: flex; margin-bottom: 0;">
          <span class="font-16 margin-r-20">已绑定权限数 <strong class="text-danger">{{bindTotal}}</strong></span>
        </mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <table class="table ark-admin-table">
          <tbody>
            <tr>
              <th class="ark-first-col">权限名称</th>
              <th class="ark-second-col">显示名</th>
              <th class="ark-second-col">路径</th>
              <th>操作</th>
            </tr>
            <tr *ngFor="let auth of binds">
              <td>{{auth.permissionName}}</td>
              <td>{{auth.displayName}}</td>
              <td>{{auth.path}}</td>
              <td>
                <button type="button" class="btn btn-danger" (click)="onUnBind({id: auth.id})">
                  解绑
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </mat-card-content>
      <mat-card-footer class="padding-b-20">
        <ark-paginator rows="10" currentPage="{{bindCurPage}}" totalRecords="{{bindTotal}}" (onPageChange)="paginate_bind($event)"></ark-paginator>
      </mat-card-footer>
    </mat-card>
    <mat-card>
      <mat-card-header class="margin-b-10">
        <mat-card-title class="full-height flex-v-center" style="display: flex; margin-bottom: 0;">
          <span class="font-16 margin-r-20">未绑定权限数 <strong class="text-danger">{{unbindTotal}}</strong></span>
        </mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <table class="table ark-admin-table">
          <tbody>
            <tr>
              <th class="ark-first-col">权限名称</th>
              <th class="ark-second-col">显示名</th>
              <th class="ark-second-col">路径</th>
              <th>操作</th>
            </tr>
            <tr *ngFor="let auth of unbinds">
              <td>{{auth.permissionName}}</td>
              <td>{{auth.displayName}}</td>
              <td>{{auth.path}}</td>
              <td>
                <button type="button" class="btn btn-success" (click)="onBind({id: auth.id})">
                  绑定
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </mat-card-content>
      <mat-card-footer class="padding-b-20">
        <ark-paginator rows="10" currentPage="{{unbindCurPage}}" totalRecords="{{unbindTotal}}" (onPageChange)="paginate_unbind($event)"></ark-paginator>
      </mat-card-footer>
    </mat-card>
  </div>
</section>