.user-wrap {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.user-trunker {
  box-sizing: border-box;
  height: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
  padding-right: 10px;
  width: 100%;
}

.user-trunker-left {
  background-color: rgba(255, 255, 255, 0.9);
  box-shadow: 0 10px 30px -12px rgba(0, 0, 0, 0.42), 0 4px 25px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
  box-sizing: border-box;
  float: left;
  min-height: 300px;
  width: 26rem;
}

.breadcrumb{
  background-color: #e9ecef;
  border-radius: .25rem;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin-bottom: 1rem;
  padding: .75rem 1rem;
  a {
    background-color: transparent;
    color: #007bff;
    text-decoration: none;
  }
  .breadcrumb-title{
    color: #868e96;
  }
  .breadcrumb-a::before {
    color: #868e96;
    content: "/";
    display: inline-block;
    padding-left: .5rem;
    padding-right: .5rem;
  }
}

.user-trunker-right {
  display: block;
  float: right;
  width: 77%;
}


.secen-model {
  background-image: url("src/asset/image/back_pic/ark-8.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
