<article class="user-wrap">
  <ark-header></ark-header>
  <div class="user-trunker {{modelClass}}">
    <div class="user-trunker-left">
      <user-sidebar></user-sidebar>
    </div>
    <div class="user-trunker-right">
      <nav class="breadcrumb f16 mt20" >
          <!--三级路由返回跳转控制-->
          <span class=" breadcrumb-title">管理中心</span>
          <a routerLink = "{{noth1root}}" [queryParams]="noth1query" *ngIf="noth1" class="breadcrumb-a">{{noth1}}</a>
          <a *ngIf="noth2" class="breadcrumb-a">{{noth2}}</a>
      </nav>
      <router-outlet></router-outlet>
    </div>
  </div>
</article>