<header>
  <mat-toolbar color="primary">
  <mat-toolbar-row>
      <a class="text-white" routerLink="/">API-FRONT</a>
      <span class="flex-1"></span>

      <ng-template [ngIf]="!account.username">
          <a class="nav-link" mat-button routerLink="/login"> 登录 </a>
      </ng-template>

      <!-- 登录成功后显示 -->
      <ng-template [ngIf]="account.username">
        <button mat-button [matMenuTriggerFor]="menu">{{account.username}}</button>
        <mat-menu #menu="matMenu">
          <a [routerLink]="['/manager/info']" mat-menu-item><i class="fa fa-cog" aria-hidden="true" ></i> 帐号设置</a>
          <a mat-menu-item (click)="onLogout()"><i class="fa fa-sign-out" aria-hidden="true"></i> 退出</a>
        </mat-menu>
      </ng-template>
    </mat-toolbar-row>
  </mat-toolbar>
</header>
