<section>
  <div class="margin-b-20">
    <ol class="breadcrumb font-16">
      <li class="breadcrumb-item"><a href="javascript: void(0)" routerLink="../"  routerLinkActive="active">权限管理</a></li>
      <li class="breadcrumb-item active">{{showTitle}}</li>
    </ol>
  </div>

  <mat-card>
    <mat-card-content class="container">
      <div class="row flex-column">
        <form>
          <div class="form-group">
            <label for="">权限名称</label>
            <input type="text" class="form-control" name="permissionName" [(ngModel)]="auth.permissionName">
          </div>

          <div class="form-group">
            <label for="">显示名称</label>
            <input type="text" class="form-control" name="displayName" [(ngModel)]="auth.displayName">
          </div>

          <div class="form-group">
            <label for="">路径</label>
            <input type="text" class="form-control" name="path" [(ngModel)]="auth.path">
          </div>

          <div class="form-group">
            <label for="">过滤器</label>
            <select name="filters" id="filters" class="form-control" [(ngModel)]="auth.filters">
              <option template="ngFor let filter of filters" value="{{filter}}">{{filter}}</option>
            </select>
          </div>

          <div class="form-group">
            <label for="">作用域</label>
            <select name="permissionScope" id="permissionScope" class="form-control" [(ngModel)]="auth.permissionScope">
              <option template="ngFor let scope of scopes" value="{{scope}}">{{scope}}</option>
            </select>
          </div>

          <div class="form-group">
            <label for="">有效标识</label>
            <select name="active" id="active" class="form-control" [(ngModel)]="auth.active">
              <option  value="Y">启用</option>
              <option  value="N">禁用</option>
            </select>
          </div>
          <div class="form-group text-center">
            <button class="btn btn-lg btn-primary" [disabled]="isSubmiting" (click)="onSubmit()">
              <i class="fa fa-save" aria-hidden="true"></i>
              保存
            </button>
          </div>
        </form>
      </div>
    </mat-card-content>
  </mat-card>
</section>